{% extends 'base.html' %}
{% block content %}
    <!--<h1 class="title_blog">{{ page.title }}</h1>-->
    {{ page.content|safe }}
    <!--<span class="date_blog">Добавлено: {{ page.datetime }}</span>-->

{% endblock %}