<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Главная | Регион-Сад</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta name="author" content="Templates.com - website templates provider" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery-1.4.2.min.js" type="text/javascript"></script>
<!--<script src="{{ STATIC_URL }}js/cufon-yui.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/cufon-replace.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/AvantGarde_Bk_BT_400.font.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/Myriad_Pro_300.font.js" type="text/javascript"></script>-->
<script src="{{ STATIC_URL }}js/jcarousellite.js" type="text/javascript"></script>
<script type="text/javascript">

	$(document).ready(function(){
	
	  $("a.new_window").attr("target", "_blank");
	  
	  //carousel
	  $(".carousel").jCarouselLite({
		  btnNext: ".next",
		  btnPrev: ".prev"
	  });
	});
		
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="{{ STATIC_URL }}js/ie_png.js"></script>
<script type="text/javascript">
	ie_png.fix('.png, .carousel-box .next img, .carousel-box .prev img');
</script>
<link href="{{ STATIC_URL }}css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page1">
<div class="tail-top-left"></div>
<div class="tail-top">
<!-- header -->
	<div id="header">
		<div class="row-1">
			<div class="fleft"><a href="/"><img src="{{ STATIC_URL }}images/logo2.png" alt="" /></a></div>
			<div class="fright">
				<ul>
					<li><a href="/" class="active">Главная</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="/adress/">Контакты</a></li>
					<li><a href="/contacts/">Написать нам</a></li>
				</ul>
			</div>
		</div>
		<div class="row-2"><span><b><img src="{{ STATIC_URL }}images/slogan1.gif" alt="" /></b> <a href="/contacts/"><img src="{{ STATIC_URL }}images/button1.gif" alt="" /></a></span></div>
	</div>
<!-- content -->
	<div id="content"><div class="ic"></div> 
		<div class="row-1">
			<div class="inside">
				<div class="container">
					<div class="aside">
						<h3>Наши услуги</h3>
						<ul>
							<li>
								<img src="{{ STATIC_URL }}images/pic1.gif" alt="" /><div class="extra-wrap"><span>Ландшафтный дизайн и проектирование Вашего участка</span>Подробно<a href="/m_lanshaft/">...</a></div>
							</li>
							<li>
								<img src="{{ STATIC_URL }}images/pic1.gif" alt="" /><div class="extra-wrap"><span>Коплексное озеленение участка</span>Подробно<a href="/m_servgard/">...</a></div>
							</li>
							<li>
								<img src="{{ STATIC_URL }}images/pic1.gif" alt="" /><div class="extra-wrap"><span>Посадка крупномеров</span>Подробно<a href="/m_garden/">...</a></div>
							</li>
							<li>
								<img src="{{ STATIC_URL }}images/pic1.gif" alt="" /><div class="extra-wrap"><span>Создание Восточных и Японских садов</span>Подробно<a href="/m_asiagarden/">...</a></div>
							</li>
							<li>
								<img src="{{ STATIC_URL }}images/pic1.gif" alt="" /><div class="extra-wrap"><span>Дренажные системы, системы полива и ландшафтного освещения</span>Подробно<a href="/m_drain/">...</a></div>
							</li>
                                                    	<li>
								<img src="{{ STATIC_URL }}images/pic1.gif" alt="" /><div class="extra-wrap"><span>Создание водоемов</span>Подробно<a href="/test/">...</a></div>
							</li>
						</ul>
					</div>
					<div class="content">
					{% block content %}
                        {% endblock %}
						<div class="img-box1 alt"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
<!-- footer -->
	<div id="footer">
		<div class="footer">Copyright - Pentagrid group<br />
			<a rel="nofollow" href="http://www.pentagrid.ru/" class="new_window">WebApp developer</a> designed by Pentagrid.ru<br />
		</div>
	</div>
</div>
<!--<script type="text/javascript"> Cufon.now(); </script>-->
</body>
</html>