{% extends 'base.html' %}
{% block content %}
    <div class="contact-form">
    <div class="{{ res }}">
        {{ msg }}
    </div>
    <form action="/contacts/" method="POST" class="form">
        {% csrf_token %}
            <label class="name">
              {{ form.name.errors }}
              {{ form.name }}
            </label>
            <label class="email">
              {{ form.email.errors }}
              {{ form.email }}
            </label>
            <label class="phone">
              {{ form.phone.errors }}
              {{ form.phone }}
            </label>
             <label class="message">
              {{ form.message }}
            </label>

        <input type="submit" value = "Отправить сообщение" class="submit">
    </form>
           </div>
{% endblock %}
