{% extends 'base.html' %}
{% block content %}
	<h3>О нас</h3>
	<p class="txt1">Дорогие друзья!<br/>
    Мы рады приветствовать Вас на нашем сайте!<br/>
    Наша компания “Region Sad”, относительно молодая, мы занимаемся профессиональной деятельностью,
    с 2013г., но нами уже было выполнено более десятка работ по проектированию и благоустройству
    частных участков, а так же государственных территорий, одним из которых является парк “Дружба”.
    Наша компания занимается благоустройством участков, не только в городе, но так же в отдаленных
    районах Самарской области. (Безенчук, Похвистнево, Тольятти, Пестравка, Кинель).</p>
{% endblock %}